<div id="<%= dom_id monstro %>">
  <p>
    <strong>Nome:</strong>
    <%= monstro.nome %>
  </p>

  <p>
    <strong>Tamanho e tipo:</strong>
    <%= monstro.tamtype %>
  </p>

  <p>
    <strong>Armadura:</strong>
    <%= monstro.armor %>
  </p>

  <p>
    <strong>Vida:</strong>
    <%= monstro.life %>
  </p>

  <p>
    <strong>Deslocamento:</strong>
    <%= monstro.des %>
  </p>

  <p>
    <strong>Força:</strong>
    <%= monstro.for %>
  </p>

  <p>
    <strong>Destreza:</strong>
    <%= monstro.dez %>
  </p>

  <p>
    <strong>Constituição:</strong>
    <%= monstro.con %>
  </p>

  <p>
    <strong>Inteligencia:</strong>
    <%= monstro.inte %>
  </p>

  <p>
    <strong>Sabedoria:</strong>
    <%= monstro.sab %>
  </p>

  <p>
    <strong>Carisma:</strong>
    <%= monstro.car %>
  </p>

  <p>
    <strong>Testes de Resistencia:</strong>
    <%= monstro.st %>
  </p>

  <p>
    <strong>Pericias:</strong>
    <%= monstro.skills %>
  </p>

  <p>
    <strong>Resistencias:</strong>
    <%= monstro.resis %>
  </p>

  <p>
    <strong>Sentidos:</strong>
    <%= monstro.sense %>
  </p>

  <p>
    <strong>Linguas:</strong>
    <%= monstro.lan %>
  </p>

  <p>
    <strong>Nivel de Desafio:</strong>
    <%= monstro.cr %>
  </p>

  <p>
    <strong>Habilidades:</strong>
    <%= monstro.hab %>
  </p>

  <p>
    <strong>Resistencia Lendaria:</strong>
    <%= monstro.leng_res %>
  </p>

  <p>
    <strong>Ações Lendarias:</strong>
    <%= monstro.leng_skills %>
  </p>

  <p>
    <strong>Ações:</strong>
    <%= monstro.actions %>
  </p>

</div>
