<div id="<%= dom_id magium %>">
  <p>
    <strong>Nome:</strong>
    <%= magium.nome %>
  </p>

  <p>
    <strong>Tempo cast:</strong>
    <%= magium.tempo_cast %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= magium.descricao %>
  </p>

  <p>
    <strong>Req:</strong>
    <%= magium.req %>
  </p>

</div>
