<p style="color: green"><%= notice %></p>

<h1>Magias</h1>

<div id="magia">
  <% @magia.each do |magium| %>
    <%= render magium %>
    <p>
      <%= link_to "Mostrar magia", magium %>
    </p>
  <% end %>
</div>

<%= link_to "Nova Magia", new_magium_path %>
<%= link_to "Voltar", root_path %>
