<p style="color: green"><%= notice %></p>

<%= render @magium %>

<div>
  <%= link_to "Edit this magium", edit_magium_path(@magium) %> |
  <%= link_to "Back to magia", magia_path %>

  <%= button_to "Destroy this magium", @magium, method: :delete %>
</div>
