<p style="color: green"><%= notice %></p>

<%= render @magium %>

<div>
  <%= link_to "Editar Magia", edit_magium_path(@magium) %> |
  <%= link_to "Voltar para Magias", magia_path %>

  <%= button_to "Destruir Magia", @magium, method: :delete %>
</div>
